In [1]:
l=[1,2,3,4,'Ragh','Yadav',45.55]

In [2]:
for i in l:
    print(i)

1
2
3
4
Ragh
Yadav
45.55

In [3]:
for i in l:

SyntaxError: unexpected EOF while parsing (<ipython-input-3-b882057075b2>, line 2)

In [4]:
for i in l:
    pass

In [6]:
s='Ragh'
for i in s:
    print(i)

R
a
g
h

In [8]:
#for + else Statement
for i in l:
    print(i)
else:
    print('If loops is complete else will execute')

1
2
3
4
Ragh
Yadav
45.55
If loops is complete else will execute

In [9]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print('This will execute if for is going to complete itself')

1
2
3

In [10]:
for i in l:
    if i==4:
        print(i)
else:
    print('This will execute if for is going to complete itself')

4
This will execute if for is going to complete itself

In [11]:
s='Raghvendra'
for i in s:
    if i=='n':
        break
    print(i)
else:
    print('print String',s)

R
a
g
h
v
e

In [12]:
s='Raghvendra'
for i in s:
    if i=='p':
        break
    print(i)
else:
    print('print String',s)

R
a
g
h
v
e
n
d
r
a
print String Raghvendra

In [14]:
t=(4,5,6,7,8,6,'Ragh')
for i in t:
    print(i)

4
5
6
7
8
6
Ragh

In [16]:
b={1,2,2,3,4,5,45,44,55,44,55,56,56,43,43,2}
for i in b:
    print(i)

1
2
3
4
5
43
44
45
55
56

In [17]:
type(b)

set

In [18]:
for i in b:
    print(i)

1
2
3
4
5
43
44
45
55
56

In [19]:
d={'key1':'RA','roll':123,'email':'@gmail.com'}
#Extract keys
for i in d:
    print(i)

key1
roll
email

In [20]:
#To etract Values
for i in d:
    print(d[i])

RA
123
@gmail.com

In [21]:
d['key1']

'RA'

In [22]:
# Direct Extract Values
for i in d.values():
    print(i)

RA
123
@gmail.com

In [23]:
# Extract key and values
for i in d.items():
    print(i)

('key1', 'RA')
('roll', 123)
('email', '@gmail.com')

In [24]:
for i in d:
    print(i,':',d[i])

key1 : RA
roll : 123
email : @gmail.com

In [26]:
#Nested For Loops
#Range Funtion
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [30]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
list(range(0,9,3))

[0, 3, 6]

In [34]:
for i in range(0,4):
    for j in range(i+1):
        print('Sudh',end=' ')
    print()

Sudh
Sudh Sudh
Sudh Sudh Sudh
Sudh Sudh Sudh Sudh

In [35]:
n=4
for i in range(4):
    for j in range(i+1):
        print('Ragh',end=' ')
    print()

Ragh
Ragh Ragh
Ragh Ragh Ragh
Ragh Ragh Ragh Ragh

In [36]:
n=4
for i in range(4):
    for j in range(i+1):
        print('Ragh ',end='')
    print()

Ragh
Ragh Ragh
Ragh Ragh Ragh
Ragh Ragh Ragh Ragh

In [38]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('Ragh'),end=' ')
    for j in range(i+1):
        print('Ragh',end=' ')
    for j in range(i):
        print('Ragh',end=' ')
    print()

          Ragh
     Ragh Ragh Ragh
Ragh Ragh Ragh Ragh Ragh

In [104]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k,end='')
    for j in range(i+1):
        print('RAGH ',end='')
    print()

      RAGH
    RAGH RAGH
  RAGH RAGH RAGH
RAGH RAGH RAGH RAGH

In [41]:
n=3
k=n
for i in range(n):
    k=k-1
    print('   '*k,end='')
    for j in range(i+1):
        print('RAGH ',end='')
    print()

      RAGH
   RAGH RAGH
RAGH RAGH RAGH

In [50]:
t=(3,23,45,67,2,4,5,6)
for i in t:
    print(t.index(i),i,end='\n')

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [45]:
t=(3,23,45,67,2,4,5,6)
for i in range(0,len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [47]:
t.index(3)

0

In [51]:
s='ineuron'
for i in s:
    print(s.index(i),i,end='\n')

0 i
1 n
2 e
3 u
4 r
5 o
1 n

In [52]:
s='ineuron'
for i in range(0,len(s)):
    print(i,s[i],end='\n')

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [55]:
s='ineuron'
for i in range(len(s)-1,0,-1):
    print(i,s[i],end='\n')

6 n
5 o
4 r
3 u
2 e
1 n

In [56]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [57]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [59]:
s='ineuron Intelligence'
for i in range(len(s)-1,-1,-1):
    print(i,s[i],end='\n')

19 e
18 c
17 n
16 e
15 g
14 i
13 l
12 l
11 e
10 t
9 n
8 I
7
6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [60]:
d

{'key1': 'RA', 'roll': 123, 'email': '@gmail.com'}

In [62]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'RA') <class 'tuple'> <class 'str'>
('roll', 123) <class 'tuple'> <class 'int'>
('email', '@gmail.com') <class 'tuple'> <class 'str'>

In [65]:
# Extract if integer vales
l=['sudh','kumar',2324,'sudhanshu',342,34556]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
        
print(l1)

[2324, 342, 34556]

In [67]:
d={1:2324,'name':'Ragh','email':'@mgmakf.com',234:'ghg','43':'fsad',234:"3244"}
for i in d:
    if type(i)==int:
        print(i,':',d[i],end='\n')

1 : 2324
234 : 3244

In [73]:
s='aaaabbccdd'
se=set(s)

In [77]:
for i in set(s):
    print(i,':',s.count(i),end='\n')

d : 2
c : 2
a : 4
b : 2

In [82]:
i=1747375750735727070
for j in str(i):
    print(int(j))

1
7
4
7
3
7
5
7
5
0
7
3
5
7
2
7
0
7
0

In [86]:
t=('Sudh','Kumar',[1,2,3,4,5],(3,4,5,6),{'k1':'Sudh','k':'umar'})

In [87]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j ==3:
                print('Find the Number 3')

Find the Number 3
Find the Number 3

In [88]:
t=('Sudh','Kumar',[1,2,3,4,5],(3,4,5,6),{'k1':'Sudh','k2':'kumar'})

In [90]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j ==3:
                print(j)

3
3

In [94]:
t=('Sudh','Kumar',[1,2,3,4,5],(3,4,5,6),{3:3,'k2':3})
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j ==3:
                print('Find the Number 3')
    if type(i)==dict:
        for j,k in i.items():
            if j==3:
                print(j)
            if k==3:
                print(k)

Find the Number 3
Find the Number 3
3
3
3

In [95]:
d={4:5,'k1':'Ragh','k2':'Yadav'}

In [96]:
for i,j in d.items():
    print(i,j)

4 5
k1 Ragh
k2 Yadav

In [97]:
a,b,c=1,2,3

In [98]:
a,b,c=(1,2,3)

In [99]:
a

1

In [100]:
b

2

In [101]:
c

3

In [103]:
#Q1
for i in range(4):
    for j in range(i+1):
        print('Ineuon',end=' ')
    print()

Ineuon
Ineuon Ineuon
Ineuon Ineuon Ineuon
Ineuon Ineuon Ineuon Ineuon

In [106]:
#Q2
n=4
k=n
for i in range(n):
    k=k-1
    print('    '*k,end='')
    for j in range(i+1):
        print('Ineuron  ',end='')
    print()

            Ineuron
        Ineuron  Ineuron
    Ineuron  Ineuron  Ineuron
Ineuron  Ineuron  Ineuron  Ineuron