In [1]:
a=10
if a ==11:
    print('This is my first Condition')

In [2]:
a=10
if a>5:
    pass

In [3]:
a=10
if a<8:
    print('Print this if staemnt is True')

In [4]:
a=10
if a!=11:
    print('My conditon is True')
else:
    print('Print this')

My conditon is True

In [6]:
a=10
if a==11:
    print('My conditon is True')
else:
    print('Print this else Block ')

Print this else Block

In [7]:
a=10
if a==12:
    print('The number is compare with 12')
elif a==11:
    print('Compare with 11')
else:
    print('If all comparison fail then do this')

If all comparison fail then do this

In [9]:
price = 500
if price> 500:
    print('May b i wonot able to buy a jacket')
elif price<500:
    print('I can buy a jacket')
else:
    print('Price is 500')

Price is 500

In [10]:
price>500

False

In [11]:
price<500

False

In [12]:
price==500

True

In [13]:
l=[1,2,3,4,5]
2 in l

True

In [14]:
if 2 in l:
    print('Try to perform a task ')
else:
    print('Do not perform this task')

Try to perform a task

In [15]:
if 23 in l:
    print('Try to perform a task ')
else:
    print('Do not perform this task')

Do not perform this task

In [16]:
if 1 in l:
    print('Try to do addition')
elif 2 in l:
    print('Try to do Sub')
elif 3 in l:
    print('Multiply')

Try to do addition

In [18]:
if 10 in l:
    print('Try to do addition')
elif 2 in l:
    print('Try to do Sub')
elif 3 in l:
    print('Multiply')
if 4 in l:
    print('This is new statement')

Try to do Sub
This is new statement

In [19]:
a=400

In [20]:
b=input()

10fgkbm

In [21]:
b

'10fgkbm'

In [22]:
b=input()#default string

30

In [23]:
b

'30'

In [24]:
type(b)

str

In [25]:
c

345

In [26]:
b

345

In [27]:
type(b)

int

In [28]:
b=int(input())

345

In [29]:
type(b)

int

In [30]:
b=int(input())

443f

ValueError: invalid literal for int() with base 10: '443f'

In [31]:
price=int(input())
if price<500:
    print('I will be able to buy something')
    if price<400:
        print('I will be able to buy a jacket')
    elif price<300:
        print('I can buy a shirt')
    else:
        print('Everything is out of Budget')
else:
    print('I wonot be able to buy anythiing with this high price Tag')

gllblhl

ValueError: invalid literal for int() with base 10: 'gllblhl'

In [32]:
price=int(input())
if price<500:
    print('I will be able to buy something')
    if price<400:
        print('I will be able to buy a jacket')
    elif price<300:
        print('I can buy a shirt')
    else:
        print('Everything is out of Budget')
else:
    print('I wonot be able to buy anythiing with this high price Tag')

600
I wonot be able to buy anythiing with this high price Tag

In [33]:
price=int(input())
if price<500:
    print('I will be able to buy something')
    if price<400:
        print('I will be able to buy a jacket')
    elif price<300:
        print('I can buy a shirt')
    else:
        print('Everything is out of Budget')
else:
    print('I wonot be able to buy anythiing with this high price Tag')

450
I will be able to buy something
Everything is out of Budget

In [34]:
price=int(input())
if price<500:
    print('I will be able to buy something')
    if price<400:
        print('I will be able to buy a jacket')
    elif price<300:
        print('I can buy a shirt')
    else:
        print('Everything is out of Budget')
else:
    print('I wonot be able to buy anythiing with this high price Tag')

300
I will be able to buy something
I will be able to buy a jacket

In [35]:
price=int(input())
if price<500:
    print('I will be able to buy something')
    if price<400:
        print('I will be able to buy a jacket')
    elif price<300:
        print('I can buy a shirt')
    else:
        print('Everything is out of Budget')
else:
    print('I wonot be able to buy anythiing with this high price Tag')

34
I will be able to buy something
I will be able to buy a jacket

In [1]:
marks=int(input())
if marks>600:
    print('GRE')
elif marks<600:
    print('NO GRE')
    if marks<400:
        print('Soemthing Else')
    elif marks<500:
        print('Toffel')

450
NO GRE
Toffel

In [3]:
val=float(input('Enter a Floating number'))
if val>=0:
    if val==0:
        print('Value is Zero')
    else:
        print('Value  enter is positive')
else:
    print('Negative number')

Enter a Floating number0
Value is Zero

In [4]:
val=float(input('Enter a Floating number'))
if val>=0:
    if val==0:
        print('Value is Zero')
    else:
        print('Value  enter is positive')
else:
    print('Negative number')

Enter a Floating number-2
Negative number

In [7]:
a=10
if a<10 or a>10:
    print('Try to do Something')

In [8]:
a=10
if a<10 or a==10:
    print('Try to do Something')

Try to do Something

In [9]:
a=10
if a<10 and a==10:
    print('Try to do Something')

In [10]:
a='SUDH'
if a =='SUDH'and a=='sudh':
    print('Both sathement true')

In [12]:
a='SUDH'
if a =='SUDH' or a=='sudh':
    print('Both sathement true')

Both sathement true

In [13]:
a=10
b=11
c=12
d=13
if a==9 and b==11 and c==12 and d==13:
    print('Lets Do something')

In [14]:
a=10
b=11
c=12
d=13
if a==9 or b==11 and c==12 and d==13:
    print('Lets Do something')

Lets Do something

In [15]:
d={'Key1':"Value",'key2':'Sudh','key3':'Ineuron'}

In [17]:
if d['Key1']=='Value' and d['key2']=='Sudh' and d['key3']=='Ineuron':
    print('All the values are verified')
    print(d.values())
else:
    print('All the values are not match')

All the values are verified
dict_values(['Value', 'Sudh', 'Ineuron'])

In [18]:
if d['Key1']=='Value' and d['key2']=='sudh' and d['key3']=='Ineuron':
    print('All the values are verified')
    print(d.values())
else:
    print('All the values are not match')

All the values are not match

In [19]:
#Loops

In [20]:
l=[1,2,3,4,5,'Sudh',22.43]

In [21]:
l[0]

1

In [22]:
l[2:5]

[3, 4, 5]

In [23]:
for i in l:
    print(i)

1
2
3
4
5
Sudh
22.43

In [24]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [25]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
Sudh1
23.43

In [26]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [27]:
l1

[1, 2, 3, 4, 5]